
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar w/ text</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page"
             href="/paginaprincipal/paginaprincipal">P.Princi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
             href="/pais/listar">Pais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tipocine/listar">Tipo Cine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cine/listar">Cine</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/persona/listar">Persona</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/pelicula/listar">Pelicula</a>
          </li>

         <li class="nav-item">
          <a class="nav-link" href="/sala/listarsala">Sala</a>
          </li>

         <li class="nav-item">
          <a class="nav-link" href="/funcion/listarfuncion">Funcion</a>
          </li>
            <li class="nav-item">
          <a class="nav-link" href="/butaca/mostrarbutaca">Butaca</a>
          </li>
              <li class="nav-item">
          <a class="nav-link" href="/usuario/listar">Usuario</a>
          </li>
            <li class="nav-item">
          <a class="nav-link"
             href="/pagina/verpagina">
              Pagina</a>
          </li>
            <li class="nav-item">
          <a class="nav-link"
             href="/boton/verboton">
              Boton</a>
          </li>
               <li class="nav-item">
          <a class="nav-link"
             href="/tipousuario/listar">
              Tipo Usuario</a>
          </li>
           <li class="nav-item">
          <a class="nav-link"
             href="/paginatipousuario/paginatipousuariohtml">
              Pagina tipo usuario</a>
          </li>
      </ul>

    </div>
  </div>
</nav>