{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        {% include 'estilos.html' %}
</head>
<body>
{% include 'menu.html' %}

<div class="mb-3 container mt-3">
    <a class="btn btn-secondary" href="/usuario/agregarusuario/">
        Nuevo</a>

    <div id="divTabla" class="mt-4">

</div>
</div>


<div class="modal fade formusuario" id="exampleModal"
     tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"  id="lblTitulo">
            Editar Usuario
        </h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
         <div class="modal-body">

            {% csrf_token %}
                <div class="mb-3">
            <label
                   class="form-label">Id Usuario</label>
            <input type="text" class="form-control"
                   readonly
                   data-campo="Id usuario"
                   id="txtidusuario"
                   placeholder="Id Usuario">

                     <div id="divtxtidusuario"></div>
               </div>

             <div class="mb-3">
            <label
                   class="form-label">Nombre Usuario</label>
            <input type="text" class="form-control"
                 data-campo="Nombre usuario"
                   id="txtnombreusuario"
                   placeholder="Nombre Usuario">
                    <div id="divtxtnombreusuario"></div>
           </div>
             <div>
                 <label>Tipo Usuario</label>
               <div class="input-group " >
        <input
        type="hidden" id="txtidtipousuario"
        />
        <input type="text" class="form-control"
               placeholder="Tipo Usuario"
               id="txtnombretipousuario"
                readonly
               data-campo="Nombre tipo usuario"
               aria-label="Recipient's username"
               aria-describedby="button-addon2">
        <button class="btn btn-outline-primary"
                  data-toggle="modal" data-target="#exampleModalSubpopup"
                onclick="AbrirModalSubpopup('TipoUsuario')"
                type="button">Buscar
        </button>
    </div>
                    <div id="divtxtnombretipousuario"></div>
                 </div>

         </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                id="btnCerrarPopup"
                data-dismiss="modal">Cancelar</button>
        <button
                onclick="GuardarDatos()"
                type="button" class="btn btn-primary">
            Guardar</button>
      </div>
        <div id="divErrores">

        </div>
    </div>
  </div>
</div>

<!-- Subpopup !-->
<div class="modal fade" id="exampleModalSubpopup"
     tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"  id="lblTituloSubpopup">

        </h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

            <div id="divTablaSubpopup">

            </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                id="btnCerrarSubPopup"
                data-dismiss="modal">Cancelar</button>
        <button
                onclick="GuardarDatos()"
                type="button" class="btn btn-primary">
            Guardar</button>
      </div>

    </div>
  </div>
</div>


{% include 'scripts.html' %}
<script type="text/javascript"
 src="{% static 'js/usuario.js' %}"></script>

</body>
</html>